<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="./dist/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="icon" type="image/x-icon" href="/static/icon.png">
    <title>Home</title>
  </head>



  <body>

    <div class="logo">
      <a href="/">
        <img src="/static/logo.png" alt="logo" style="width: 50rem; ">
      </a>    
    </div>

    <div class="content" >
      <p style="text-align: center">
        TetaByte :<span> </span> We Made <span>it Easier For You</span>
        <br>
        You Can Now Check for Tumor Yourself, We've Made It Easier For You! ❤️
      </p>
    </div>

    <div class="action"><a href="/model">Go to the Model</a></div>


  </body>

</html>